* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

.photo-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.App {
  text-align: center;
}

.app-title {
  color: #fff;
  font-size: 5em;
}

.account-status {
  cursor: pointer;
  font-size: 2em;
}

.account-status:hover {
  color: #abc123;
}

.tag-line {
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
}

.app-header {
  position: absolute;
  top: 30px;
  right: 30px;
}

.title-container {

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
