.App {
  text-align: center;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.app-title {
  font-size: 5em;
}

.account-status {
  cursor: pointer;
  font-size: 2em;
}

.account-status:hover {
  color: #abc123;
}

.tag-line {
  color: #abc123;
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
